#################################     Vim     #################################
.vim/undo/
.config/nvim/undo/
.vim/swap/*

#################################     Tmux     #################################
.config/tmux/plugins

#################################     Misc     #################################
.netrwhist
*.pdf

################################     Shell     ################################
# env should be ignored since that is intended to be local to the user's env.
.shellrc/env
.shellrc/env.sh
