[user]
	name = Andreas Lindhé
	email = Lindhe94@gmail.com
[alias]
	st = status
	lg = log --oneline
	co = checkout
	bra = branch
        comam = commit -am
[branch]
	autosetuprebase = always
[push]
	default = simple
[credential]
	helper = cache
[core]
	excludesfile = ~/.gitignore_global
