[user]
    name = Andreas Lindhé
    email = andreas@lindhe.io
[alias]
    b = branch
    bi = bisect
    bra = branch -v
    change = commit --amend -v
    cl = clone
    co = checkout
    com = commit -v
    comm = commit -m
    df = diff --color-words
    dif = diff
    dra = pull
    files-in = diff-tree --no-commit-id --name-only -r
    h = help
    knuff = push
    lob = log --oneline --decorate --graph
    l = log --oneline --decorate
    log = log --decorate
    new = diff --cached
    pl = !git pull && git log ORIG_HEAD..HEAD
    reb = rebase
    rem = remote -v
    s = status
    sho = show
    sorry = commit --amend --no-edit
    st = status
    sw = switch
    whatchanged = !git pull && git log ORIG_HEAD..HEAD
    wt = worktree
#   difftex = difftool -y -t latex
[branch]
    autosetuprebase = always
[pull]
    rebase = true
[credential]
    helper = cache
[core]
    excludesfile = ~/.gitignore_global
    editor = vim
    quotepath = off
# [difftool.latex]
#    cmd = latexdiff "$LOCAL" "$REMOTE"
[push]
    default = simple
[color]
    status = always
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    required = true
[fetch]
	prune = true
