#################################     Vim     #################################
.vim/undo/
.config/nvim/undo/
.vim/swap/*


#################################     Misc     #################################
.netrwhist
*.pdf

