#!/bin/sh
#
#~/.xprofile
#
# Set languages
setxkbmap se-A5,svorak;
# setxkbmap -option grp:lctrl_lwin_toggle
# Misc
setxkbmap -option caps:swapescape;
xinput set-prop "TPPS/2 ALPS TrackPoint" "libinput Scroll Method Enabled" 0 0 1;
xsetroot -solid black;
xset r rate 325 75;
xset b off;
xset s off;
xset -dpms;
